.custom-cursor {
    position: absolute;
    width: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s linear;
}

.cursor-text {
    position: absolute;
    font-size: 1.5rem;
    font-family: 'SeoulHangang', serif;    
    color: rgb(173, 161, 160);
    pointer-events: none;
    white-space: nowrap;
    opacity: 50%;
    transition: opacity 2s ease-out, transform 4s ease-out;
}
